.stats-card-wrapper {
  width: 30%;
  margin-left: 20px;
  position: relative;
  z-index: 0;
}
.stats-card {
  width: 100%;
  height: max-content;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.stats-card img {
  border-radius: 50%;
  padding: 20px;
  background-color: hsl(257, 27%, 26%);
  transform: translateY(-60%);
}

.stats-card h1 {
  color: hsl(255, 11%, 22%);
  margin-bottom: 20px;
  z-index: 0;
}

.stats-card p {
  color: hsl(257, 7%, 63%);
}

@media screen and (max-width: 900px) {
  .stats-card-wrapper {
    width: 80%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .stats-card img {
    transform: translate(140px, -60%);
  }
}
