.stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-text h1,
.stats-text p {
  text-align: center;
}

.stats-text h1 {
  font-size: 48px;
  color: hsl(255, 11%, 22%);
}

.stats-text p {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  width: 30%;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .stats-text p {
    width: 80%;
  }
  .card-list {
    flex-direction: column;
    align-items: center;
  }
}
