.boost-section {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('../../assets/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-color: hsl(257, 27%, 26%);
}

.boost-section h1 {
  color: hsl(0, 0%, 98%);
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .boost-section {
    background-image: url('../../assets/bg-boost-mobile.svg');
  }

  .boost-section button {
    width: 40%;
  }
}
